body
{
	background-color: #EADEDB;
	font-family:Helvetica;
	margin: 0;
	padding: 0;
}


/*
.Header
{
	position: fixed;
  	top: 0;
  	background-color: #EADEDB;
  	width: 100%; 
}

.Botones
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: #9C231F;
	

}

.Botones li
{
	float: left;

}
.exep
{	
	color:red;
}
.Botones li a
{
	font-size: 25px;
	color: black;
	display: block;
  	text-align: center;
 	padding: 14px 16px;
  	text-decoration: none;
  	
}

.Botones li a:hover
{
	color: #9C231F;
}

.izquierda a
{
	/*color: white;
	float: right;
}

.logo
{
	width: 250px;
}

.card {
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; 
  background-color: #1B120F;	
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.container {
  padding: 1px 1px;
  color: white;
}

.card h4
{
	font-size: 28px;
	color: #01ABBA;

}
.tarjetas
{
	padding: 25px;
	padding-top: 110px;
	width: 100%;
}

.foot
{
	display: block;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: #1B120F ;
  	color: white;
  	text-align: center;
  	padding-top: 35px;
  	padding-bottom: 35px;
}

.tarjetausers
{
	padding: 25px;
	width: 100%;	
}
.tarjetausers th
{
	padding: 12px;
}

.principal
{
	margin: 0;
	padding: 0;
}

.fotoPerfil
{
	width: 300px;
	border-radius: 5px 5px 0 0;
}*/